@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
  color: black;
  background-image: url("/images/top-band.png");
  background-repeat: repeat-x;
}

body {
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
}

img {
  border: 0;
}

#logo2 img {
  width: 20%;
  float: right;
}

a {
  text-decoration: underline;
  color: #fc8a24;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #fc8a24;
}

a.siteMenuLink {
  font-variant: small-caps;
  text-decoration: none;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 17px;
  color: #004080;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

a.siteMenuLink:visited {
  color: black;
}

a.siteMenuLinkPrivate {
  color: #ff6410;
}

a.siteMenuLink:hover, a.siteMenuLink:focus {
  color: #ff6410;
}

a.siteMenuSelected {
  color: #555555;
}

p {
  margin-top: 5px;
  margin-bottom: 10px;
}

/*https://css-tricks.com/examples/hrs/ */
hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  color: #e6e6e6;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  color: grey;
}

h1 {
  text-align: center;
}

.clear {
  clear: left;
}

#siteCenter {
  margin: 40px auto;
  text-align: left;
  width: 100%;
}

#siteTop {
  background-image: url("/images/site-top.gif");
  width: 100%;
  height: 25px;
}

#siteBottom {
  background-image: url("/images/site-bottom.gif");
  width: 100%;
  height: 25px;
}

#siteContent {
  min-height: 400px;
  background-color: white;
}

#siteContent img.resize {
  width: 400px;
  height: auto;
}

#siteHeader {
  float: left;
  width: 100%;
}

#siteLogo {
  float: left;
  width: 100%;
}

.logoImg {
  position: relative;
  z-index: 2;
}

.logoImg img {
  float: left;
  width: 20%;
  height: auto;
  margin: 15px;
  position: absolute;
  z-index: 2;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.logoImg img.top:hover {
  opacity: 0;
}

.img1 img {
  margin-top: 10px;
  margin-right: 20px;
  float: left;
  width: 100%;
  height: auto;
}

.img2 img {
  margin-top: 10px;
  margin-right: 20px;
  float: left;
  width: 100%;
  height: auto;
}

.siteTitle {
  float: left;
  width: 100%;
}

.titres h1 {
  font-variant: small-caps;
  font-size: 100px;
  color: #004080;
  text-align: left;
  font-weight: normal;
  float: left;
  font-family: "Lucida Console", Monaco, monospace;
  text-shadow: -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white;
  background-color: rgba(255, 255, 255, 0.8);
}

.titres {
  padding-top: 5px;
  padding-left: 25%;
  float: left;
  display: block;
  position: relative;
}

.titres h2 {
  padding-top: 5px;
  font-size: 20px;
  color: grey;
  text-align: left;
  font-weight: normal;
  font-family: "Lucida Console", Monaco, monospace;
  float: left;
  background-color: rgba(255, 255, 255, 0.8);
}

.siteTitle h4 {
  color: #888;
  font-weight: normal;
}

#siteMenu {
  display: block;
  float: right;
  width: 100%;
  height: 40px;
  margin-top: 0px;
  position: relative;
  background-color: lightgrey;
  z-index: 1;
  text-align: center;
  padding-left: 10px;
}

#siteMenu ul li {
  display: inline;
  padding: 5px;
}

.formLabel {
  float: left;
  width: 150px;
  text-align: right;
  padding-right: 10px;
}

.formInput {
  float: left;
  width: 140px;
}

.formLongInput {
  float: left;
  width: 420px;
}

.formInput input[type="password"],
.formInput input[type="text"] {
  width: 130px;
}

input[type="submit"],
input[type="button"] {
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  background-image: url("/images/btn-background.png");
  border: 1px solid #999;
  cursor: pointer;
  color: #444;
}

.formSeparator {
  clear: both;
  height: 10px;
}

.smallerFormLabel {
  font-size: 0.9em;
}

.formSpacer {
  clear: both;
  height: 10px;
}

.errorMsg {
  border: 1px solid #992222;
  background-color: #ff9999;
  padding: 5px;
  margin-bottom: 15px;
  color: #000;
}

.successMsg {
  border: 1px solid #55ff55;
  background-color: #ddffdd;
  padding: 5px;
  margin-bottom: 15px;
  color: #080;
}

.errorInput {
  font-weight: bold;
  color: #aa0000;
}

.separator {
  margin-bottom: 10px;
}

.privateMenuSection {
  float: left;
  width: 125px;
  padding-left: 5px;
  min-height: 330px;
  border-right: 1px solid #ddd;
  margin-right: 20px;
}

.privateMenu li {
  margin-bottom: 5px;
}

.privateMenu li ul {
  margin-left: 20px;
}

.privateContentSection {
  float: left;
  width: 770px;
}

.privateContentSection h2 {
  margin-bottom: 15px;
}

/* ===================== Index page ====================== */
.imgColonne {
  margin-top: 200px;
  float: left;
  width: 20%;
}

#pageIndex {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: right top;
}

#pageIndex .leftColumn {
  margin-top: 150px;
  float: left;
  width: 50%;
  margin-right: 10px;
  padding: 5px;
  min-height: 250px;
  margin-left: 20px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  background-color: rgba(255, 255, 255, 0.9);
}

#pageIndex .rightColumn {
  margin-top: 150px;
  float: left;
  width: 20%;
  padding: 10px;
  min-height: 250px;
  border: 3px solid #dddddd;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  background-color: rgba(255, 255, 255, 0.9);
}

#pageIndex .flashSection {
  margin-bottom: 10px;
}

#pageIndex .newsFeed {
  min-height: 400px;
}

#pageIndex .newsElement {
  margin-top: 10px;
}

#pageIndex .importantElement {
  padding: 10px;
  margin-bottom: 10px;
}

#pageIndex .importantElement .elementTitle {
  font-weight: bold;
  margin-bottom: 4px;
}

#pageIndex .elementLink {
  font-size: 11px;
  color: #aaaaaa;
}

#pageIndex .elementDate {
  font-size: 11px;
  color: #aaaaaa;
}

#pageIndex .seeAllNews {
  margin-top: 10px;
}

#pageIndex .contactSection {
  margin-top: 30px;
  padding: 5px;
  border: 3px solid #dddddd;
  margin-left: 10px;
}

#pageIndex .textContent p {
  margin-bottom: 5px;
  margin-top: 15px;
}

#pageIndex .textContent ul {
  padding-left: 35px;
}

#pageIndex .omnivoxDivision {
  margin-top: 10px;
}

/* ===================== Teachers page ====================== */
#pageTeachers {
  background-image: url("../images/lab.jpg");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: right top;
  background-position-y: 50px;
}

#mTeachers {
  margin-bottom: 175px;
  display: block;
  float: left;
  width: 100%;
  height: 40px;
  margin-top: 0px;
  position: relative;
  background-color: lightgrey;
  z-index: 1;
  text-align: left;
  padding-left: 10px;
}

#pageTeachers .teacherDiv {
  float: left;
  width: 450px;
  height: 130px;
  margin-bottom: 30px;
  margin-right: 10px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  background-color: rgba(255, 255, 255, 0.9);
}

#pageTeachers h1 {
  text-shadow: -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white;
  background-color: rgba(255, 255, 255, 0.9);
}

#pageTeachers .teacherImg {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: white;
}

#pageTeachers .teacherDetails {
  width: 335px;
  float: left;
}

#pageTeachers .teacherDesc {
  height: 85px;
}

#pageTeachers .teacherContact {
  font-size: 0.95em;
  margin-top: 10px;
}

#pageTeachers .teacherDetails a {
  color: #333333;
}

#pageTeachers h3 {
  color: #fc8a24;
  font-size: 13px;
}

#pageTeachers h4 {
  color: #000000;
  font-size: 12px;
}

/* ===================== page Travaux ====================== */
#pageTravaux #siteContent {
  background-image: url("../images/gears.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right top;
}

#gridContainer {
  margin-top: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

#c {
  padding: 10px;
  height: auto;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  background-color: rgba(255, 255, 255, 0.9);
}

#c p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 2px;
}

#gridContainer .travauxDiv {
  float: left;
  margin: 5px;
}

.travauxImg {
  width: 100%;
  height: auto;
  float: left;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#c h3 a {
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 20px;
}

#gridContainer .travauxDetails {
  width: 335px;
  float: left;
}

#gridContainer .travauxDesc {
  height: 85px;
}

#gridContainer .travauxContact {
  font-size: 0.95em;
}

#gridContainer .travauxDetails a {
  color: #333333;
}

#gridContainer h3 {
  color: #fc8a24;
  margin-bottom: 10px;
}

#gridContainer .tag {
  color: #fc8a24;
  font-weight: bold;
}

/* ===================== page Intensif ====================== */
#pageIntensif .leftColumn {
  width: 70%;
  margin-left: 5%;
  margin-right: 65px;
  padding: 5px;
  min-height: 250px;
  background-color: rgba(255, 255, 255, 0.8);
}

#pageIntensif #siteMenu {
  margin-top: 75px;
  margin-bottom: 100px;
}

#flexContainer  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.img3 img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 0;
}

#pageIntensif {
  background-image: url("../images/intensif.png");
  background-repeat: no-repeat;
  background-position: right, top;
  background-size: 60%;
  margin-top: 100px;
}

#pageIntensif .rightColumn {
  width: 10%;
  min-height: 250px;
  border: 3px solid #dddddd;
}

#pageIntensif .flashSection {
  margin-bottom: 10px;
}

#pageIntensif .newsFeed {
  min-height: 400px;
}

#pageIntensif .newsElement {
  margin-top: 10px;
}

#pageIntensif .importantElement {
  border: 1px solid #777777;
  padding: 10px;
  margin-bottom: 10px;
}

#pageIntensif .importantElement .elementTitle {
  font-weight: bold;
  margin-bottom: 4px;
}

#pageIntensif .important {
  color: #fc8a24;
  font-weight: bold;
}

#pageIntensif .elementDate {
  font-size: 10px;
  color: #aaaaaa;
}

#pageIntensif .seeAllNews {
  margin-top: 10px;
}

#pageIntensif .contactSection {
  margin-top: 30px;
  border: 1px solid #dddddd;
  padding: 5px;
}

#pageIntensif .textContent p {
  margin-bottom: 5px;
  margin-top: 15px;
}

#pageIntensif .textContent ul {
  padding-left: 35px;
}

/* ===================== page Regulier ====================== */
#pageRegulier .leftColumn {
  float: left;
  width: 50%;
  margin-left: 5%;
  margin-right: 10px;
  padding: 5px;
  min-height: 250px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  background-color: rgba(255, 255, 255, 0.8);
}

#mRegulier #siteMenu {
  margin-bottom: 100px;
  margin-top: 75px;
  float: right;
  width: 100%;
  height: 40px;
  position: relative;
  background-color: lightgrey;
  text-align: center;
  padding-left: 10px;
}

#pageRegulier {
  background-image: url("../images/keyboard.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60%;
  background-position-y: 220px;
  height: 100%;
}

#pageRegulier .rightColumn {
  float: left;
  width: 35%;
  min-height: 250px;
  border: 3px solid #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.8);
}

#pageRegulier .rightColumn img {
  width: 50%;
  height: auto;
}

#pageRegulier .flashSection {
  margin-bottom: 10px;
}

#pageRegulier .newsFeed {
  min-height: 400px;
}

#pageRegulier .newsElement {
  margin-top: 10px;
}

#pageRegulier .importantElement {
  border: 1px solid #777777;
  padding: 10px;
  margin-bottom: 10px;
}

#pageRegulier .importantElement .elementTitle {
  font-weight: bold;
  margin-bottom: 4px;
}

#pageRegulier .important {
  color: #fc8a24;
  font-weight: bold;
}

#pageRegulier .elementDate {
  font-size: 10px;
  color: #aaaaaa;
}

#pageRegulier .seeAllNews {
  margin-top: 10px;
}

#pageRegulier .contactSection {
  margin-top: 30px;
  border: 1px solid #dddddd;
  padding: 5px;
}

#pageRegulier .textContent p {
  margin-bottom: 5px;
  margin-top: 15px;
}

#pageRegulier .textContent ul {
  padding-left: 35px;
}

/* ===================== page Contact ====================== */
#pageContact {
  background-image: url("/images/cvm.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

#pageContact .leftColumn {
  float: left;
  width: 460px;
}

#pageContact .rightColumn {
  float: left;
  width: 250px;
}

/* ===================== Portail page ====================== */
#pagePortail .loginBox {
  border: 1px solid gray;
  background-color: #eee;
  padding: 10px;
  width: 350px;
  margin: 0px auto;
}

#pagePortail {
  background-image: url("/images/cvm.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-top: 50px;
  min-height: 300px;
}

#pagePortail a {
  font-size: 0.9em;
}

/* ===================== Passwd page ====================== */
#pagePasswd .loginBox {
  border: 1px solid gray;
  background-color: #eee;
  padding: 10px;
  width: 350px;
  margin: 0px auto;
}

#pagePasswd {
  background-image: url("/images/cvm.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-top: 50px;
  min-height: 300px;
}

#pagePasswd .submitDiv {
  margin-left: 160px;
}

/* ===================== First time page ====================== */
#pageFirstTime h4 {
  margin-bottom: 10px;
  margin-top: 15px;
}

#pageFirstTime .infoBox {
  border: 1px solid gray;
  background-color: #eee;
  padding: 10px;
  width: 650px;
  margin: 0px auto;
  padding: 10px;
}

#pageFirstTime .termsOfUse {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #333;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}

#pageFirstTime .submitBtn {
  margin-top: 20px;
  text-align: center;
}

#pageFirstTime .termsOfUse .italic {
  font-style: italic;
  font-size: 1.1em;
}

#pageFirstTime .termsOfUse .title {
  font-weight: bold;
}

#pageFirstTime .termsOfUse ul {
  margin-left: 15px;
}

/* ===================== Member list page ====================== */
#pageMembers .memberTable {
  margin-top: 15px;
  font-size: 0.8em;
}

#pageMembers .memberTable tr td {
  border: 1px solid #ddd;
  padding: 5px;
}

#pageMembers .memberTable tr th {
  border: 1px solid #ddd;
  padding: 5px;
  background-color: #eee;
  text-align: center;
}

/* ===================== Members export page ====================== */
#pageMembersExport ul {
  margin-top: 10px;
  margin-left: 20px;
}

#pageMembersExport ul li {
  margin-bottom: 5px;
}

/* ===================== Members import page ====================== */
#pageMembersImport ul {
  list-style-position: inside;
}

#pageMembersImport h4 {
  margin-top: 10px;
}

#pageMembersImport .submitBtn {
  margin-top: 15px;
}

#pageMembersImport .separator {
  height: 2px;
  background-color: #ddd;
  margin: 20px;
}

/* ===================== Private home page ====================== */
#pagePrivateHome {
  background-image: url("/images/cvm.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  min-height: 350px;
}

#pagePrivateHome .userType {
  font-weight: bold;
  color: #292;
}

/* ===================== Home box page ====================== */
#pageHomeBox .editorBox {
  margin: 10px auto;
  width: 420px;
}

#pageHomeBox .submitBtn {
  text-align: center;
  margin-top: 20px;
}

/* ===================== Access page ====================== */
#pageAccess .formChoiceRow {
  margin-bottom: 5px;
  font-size: 1.1em;
}

#pageAccess .formInput {
  width: 200px;
}

#pageAccess h3 {
  margin-top: 20px;
}

#pageAccess .formLabel {
  width: 80px;
  text-align: left;
}

#pageAccess .form-left-colum {
  margin: 20px 0;
  float: left;
  width: 295px;
}

/* ===================== FTP page ====================== */
#pagePrivateFTP .section {
  margin-top: 20px;
}

#pagePrivateFTP h4 {
  margin-bottom: 10px;
}

#pagePrivateFTP .leftText {
  float: left;
  width: 150px;
}

#pagePrivateFTP .rightText {
  float: left;
  width: 450px;
}

/* ===================== Oracle page ====================== */
#pageOracle .oracle-box {
  border-radius: 3px;
  border: 1px solid #555;
  padding: 15px;
}

#pageOracle .oracle-box h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#pageOracle .oracle-box #status {
  font-weight: bold;
}

.oracle-box #connexionCount {
  font-weight: bold;
}

/* ===================== Happening page ====================== */
#pageConf {
  padding-bottom: 40px;
}

#pageConf h2 {
  margin-bottom: 15px;
}

#pageConf h3 {
  margin-bottom: 5px;
  font-size: 15px;
  font-family: Arial;
}

#pageConf .happening {
  margin: 10px 0 30px;
  border: 1px solid #aaa;
  padding: 5px;
}

#pageConf .happening hr {
  margin: 5px 0;
}

#pageConf .happening-actions {
  margin-top: 20px;
}

#pageConf .event-desc {
  min-height: 20px;
}

@media (min-width: 768px) and (max-width: 959px) {
  a.siteMenuLink {
    color: white;
  }
  #siteMenu {
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    margin-bottom: 20px;
  }
  #siteMenu ul li {
    display: block;
  }
  #pageIndex .leftColumn {
    margin-top: 20px;
  }
  .rightColumn {
    margin-top: 20px;
  }
  .imgColonne {
    margin-top: 20px;
  }
  #mTeachers {
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
  }
  #pageTeachers .teacherDiv {
    width: 300px;
    height: 300px;
  }
  #pageTeachers .teacherDetails {
    width: 300px;
  }
  #pageIntensif #siteMenu {
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
  }
  #mRegulier #siteMenu {
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
  }
  #gridContainer {
    margin-top: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .titres h1 {
    font-size: 50px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  a.siteMenuLink {
    color: white;
  }
  #siteMenu {
    background-color: rgba(0, 0, 255, 0.5);
    height: auto;
  }
  #siteMenu ul li {
    display: block;
  }
  .titres h1 {
    font-size: 50px;
  }
  .leftColumn {
    margin-top: 20px;
  }
  #gridContainer {
    margin-top: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  #mTeachers {
    background-color: rgba(0, 0, 255, 0.5);
    height: auto;
  }
  #pageIntensif #siteMenu {
    background-color: rgba(0, 0, 255, 0.5);
    height: auto;
  }
  #mRegulier #siteMenu {
    background-color: rgba(0, 0, 255, 0.5);
    height: auto;
  }
  #pageTeachers .teacherDiv {
    width: 300px;
    height: 300px;
  }
  #pageTeachers .teacherDetails {
    width: 300px;
  }
  #pageIndex .leftColumn {
    margin-top: 20px;
  }
  .rightColumn {
    margin-top: 20px;
  }
  .imgColonne {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=global.css.map */